* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}

#app {
  background-color: #000;
}

@font-face {
  font-family: Roboto;
  src: url(fonts/Roboto/Roboto-Regular.ttf);
}
@font-face {
  font-family: Roboto-Italic;
  src: url(fonts/Roboto/Roboto-Italic.ttf);
}
@font-face {
  font-family: Roboto-Bold;
  src: url(fonts/Roboto/Roboto-Bold.ttf);
}
@font-face {
  font-family: Roboto-Light;
  src: url(fonts/Roboto/Roboto-Light.ttf);
}
.navHolder {
  height: 132px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: -132px;
  background-color: #000;
}
.navHolder .nav-logo {
  margin-left: 20px;
  width: 130px;
  height: 100px;
  background-image: url(../images/camping-logo.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.navHolder .nav-links {
  margin: auto 50px auto auto;
}
.navHolder .nav-links a {
  font-family: Roboto;
  font-size: 25px;
  margin-left: 20px;
  text-decoration: none;
  color: #fff;
}
.navHolder .nav-bars {
  display: none;
  flex-direction: column;
  margin-right: 37px;
}
.navHolder .nav-bars .nav-bar {
  display: block;
  width: 25px;
  margin: 3px 0;
  height: 3px;
  background-color: #fff;
  border-radius: 3px;
  transition: all 0.3s ease-in-out;
}

.nav-bars.active .nav-bar:nth-child(2) {
  opacity: 0;
}
.nav-bars.active .nav-bar:nth-child(1) {
  transform: translateY(9px) rotate(45deg);
}
.nav-bars.active .nav-bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

@media screen and (max-width: 1330px) {
  .navHolder .nav-logo {
    margin-left: 20px;
  }
}
@media screen and (max-width: 768px) {
  .navHolder {
    position: fixed;
    z-index: 10;
  }
  .navHolder .nav-links {
    position: fixed;
    width: 100vw;
    opacity: 0;
    right: 1000px;
    top: 100px;
    background-color: #000;
    display: flex;
    flex-direction: column;
    transition: all 0.3s ease-in;
    margin: 0 auto;
  }
  .navHolder .nav-links a {
    margin: 30px auto;
  }
  .navHolder .nav-links.active {
    opacity: 1;
    right: 0;
    left: 0;
  }
  .navHolder .nav-bars {
    display: flex;
  }
}
.products {
  min-height: 500px;
  margin: 132px 50px 100px 50px;
  background-color: purple;
  color: #fff;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.products h1 {
  font-family: Roboto-Bold;
  font-size: 40px;
  margin: 30px auto;
}
.products .products-container {
  min-height: 500px;
  background-color: rosybrown;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.products .products-container .product-box {
  width: 550px;
  height: 300px;
  background-color: red;
  display: flex;
  justify-content: space-between;
}
.products .products-container .product-box .product-img {
  border: 2px solid white;
  width: 250px;
  height: 250px;
}
.products .products-container .product-box .product-desc {
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.products .products-container .product-box .product-desc h1 {
  font-size: 30px;
  border-bottom: 3px solid white;
  margin-top: 0px;
}
.products .products-container .product-box .product-desc p {
  font-size: 16px;
  font-family: Roboto-Light;
}
.products .products-container .product-box .product-desc .learn-more {
  width: 120px;
  height: 40px;
  border-radius: 20px;
  background-color: white;
  color: #000;
  display: flex;
  cursor: pointer;
}
.products .products-container .product-box .product-desc .learn-more p {
  margin: auto;
}

/*# sourceMappingURL=styles.css.map */
