* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}

#app {
  background-color: #000;
}

@font-face {
  font-family: Roboto;
  src: url(fonts/Roboto/Roboto-Regular.ttf);
}

@font-face {
  font-family: Roboto-Italic;
  src: url(fonts/Roboto/Roboto-Italic.ttf);
}

@font-face {
  font-family: Roboto-Bold;
  src: url(fonts/Roboto/Roboto-Bold.ttf);
}

@font-face {
  font-family: Roboto-Light;
  src: url(fonts/Roboto/Roboto-Light.ttf);
}
