.product-full {
  display: flex;
  flex-direction: column;
  min-height: 500px;
  margin: 132px 50px 100px 50px;
  align-items: center;
  color: #fff;

  h1 {
    text-align: center;
    font-family: Roboto-Bold;
    font-size: 40px;
    margin: 30px auto;
  }

  .prod-full-box {
    display: flex;
    margin-bottom: 100px;

    .prod-full-img {
      height: 500px;
      width: 500px;
    }
    .prod-full-desc {
      min-height: 500px;
      width: 500px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      font-family: Roboto-Light;
      text-align: center;
      font-size: 20px;

      li {
        margin-bottom: 30px;
      }

      .close-button {
        height: 40px;
        width: 200px;
        border-radius: 20px;
        background-color: white;
        color: #000;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        margin: 0 auto;
      }
    }
  }
}
